body {
  margin: 0;
  padding: 0; }

@media (min-width: 768px) {
  .imgCarru {
    height: 265px; } }

@media (min-width: 768px) {
  footer {
    background: #f3f35b !important; }
    footer a:hover {
      border: outset 2px #020202 !important;
      transform: scale(1.3); }
    footer #whatsapp-icon {
      position: fixed;
      right: 10px;
      bottom: 10px;
      text-align: center;
      padding: 3px; }
      footer #whatsapp-icon a:hover {
        border: none !important;
        transform: scale(1.3) !important; } }
